.section-pro {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
}

.main-projects {
    width: 75%;
    margin: auto;
    margin-top: 50px;
}

.main-projects > h1 {
    text-align: center;
    font-size: 2rem;
}

.organplus, .onbikes {
    display: flex;
    flex-direction: row;
    border: 8px solid blue;
    border-radius: 10px;
    margin-top: 80px;
    margin-bottom: 80px;
}

.data {
    width: 46%;
    margin-right: 3%;
    margin-left: 3%;
    text-align: center;
}

.onbikes > .data {
    margin-top: 80px;
}

.organplus > .data {
    margin-top: 25px;
}

.tech-stack {
    display: flex;
}

.tech-stack > p {
    margin: 10px;
    width: fit-content;
    background-color: rgb(233, 94, 122);
    padding: 10px;
    border-radius: 10px;
}

.repo {
    display: flex;
}

.repo > * {
    flex-grow: 1;
    text-align: center;
}

.repo > *:hover{
    cursor: pointer;
}

.data > h2 {
    text-align: center;
}

.img {
    width: 50%;
}

.img > img {
    width: 100%;
}



