.connect-row {
    width: fit-content;
    margin: auto;
    position: fixed;
    left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: fit-content;
    z-index: 3;
}

.connect-each {
    display: flex;
    flex-direction: column;
    position: absolute;
}

.connect-content {
    padding: 20px;
    /* color: snow; */
    font-size: 1.3rem;
}

.connect-content:hover {
    color: rgb(253, 0, 0) !important;
}

.connect-img {
    padding: 10px;
    width: 100%;
    display: block;
}

@media (max-width: 420px) {
    .connect-row {
        grid-template-columns: 25px 25px 25px 25px;
        gap: 30px;
    }
}

@media (max-width: 300px) {
    .connect-row {
        grid-template-columns: 20px 20px 20px 20px;
        gap: 25px;
    }
}