.section-home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 400px;
    height: 100vh;
}

.home {
    display: flex;
    width: 80%;
    margin: auto;
    height: 100vh;
    position: absolute;
    margin-top: 100px;
}

.hero {
    width: 50%;
    margin-top: 100px;
    animation: 2s ease-in-out infinite heroMovement;
    /* position: absolute; */
}

.hero > img {
    animation: 1s ease-out 0s 1 slideInNameFromRight;
    width: 100%;
}

img {
  pointer-events: none;
}

.name {
    width: 50%;
    margin: auto;
    margin-top: 100px;
    position: relative;
    animation: 1s ease-out 0s 1 slideInNameFromLeft;
}

.name > h1 {
    font-size: 1.5rem;
}

.name > h1:nth-child(2){
    font-size: 2.5rem;
}

.resume{
    padding: 1rem;
    border: none;
    border-radius: 10px;
}

.resume:hover{
    transform: scale(1.01);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes heroMovement {
    0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-50px);
      }
}

@keyframes slideInNameFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInNameFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0%);
    }
  }
