.Navbar {
    height: fit-content;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    position: fixed;
    z-index: 1;
    top: 0px;
    box-shadow: 0 8px 8px -4px rgb(0 0 0 / 0.5);
    /* box-shadow: 0 8px 8px -4px lightblue; */
    animation: 1s ease-out 0s 1 slideInNavbarFromTop;
}

.active {
    border-bottom: 5px solid tomato;
    transition: 2s ease-out;
}

.NavRow {
    display: flex;
    margin-right: 70px;
}

.nav-cont {
    flex-grow: 1;
    text-align: center;
    font-size: 0.9rem;
    font: 12px Arial;
    display: inline-block;
    padding: 1em 2em;
    text-align: center;
    background: rgba(100, 100, 100, 0.5); 
    background: linear-gradient(to top, rgba(100, 100, 100, 0)  50%, tomato 50%) bottom;
    background-size: 100% 200%;
    transition: .1s ease-out;
}

.nav-cont:hover{
    background-position: top ;
}


.theme-btn {
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin-right: 5px;
    margin-top: 10px;
    margin-left: 85%;
    padding-top: 5px;
    border-radius: 50%;
    border: none;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: "all 1s ease-in-out";
} 

.theme-btn:hover {
    background-color: tomato !important;
    color: rgb(2, 2, 63);
}

@keyframes slideInNavbarFromTop {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }

