.section-footer {
    position: relative;
    display: flex;
    flex-direction: row;
    height: fit-content;
}

.footer {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.footer > p {
    width: fit-content;
    margin: auto;
    margin-top: 20px;
    border-top: 2px solid tomato;
    padding: 40px;
}
