.section-footer {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.footer {
    margin: 0;
    display: flex;
}

.connect {
    flex-grow: 1;
}

.footer > p {
    width: fit-content;
    padding-right: 20px;
}